body {
    font-size: 1.4em;
    line-height: 1.6;
    font-weight: 400;
    font-family: "HelveticaNeue";
    color: blue;
    height: 100%;
    margin: 2.5rem;
}

p{
    margin: 2.5rem;
}

.rocketship{
    height: 90%;
    width: 100%;
    position: absolute;
    background-position:  750px;
    background-image:  url(//background.svg);
    background-repeat: no-repeat;    
}
.space{
    height: 100%;
    width: 100%;
    position: absolute;
    background-image: url(//space.jpg);
    background-position: center center;
    background-size: cover;
    text-align: center;
}

h1{
    color: white;
    font-size: 100px;
}

h2{
    color: white;
    font-size: 500px;
    font-family: "Verdana";
}

.nav{
    
    display: block;
    text-align: right;
}

.navbar-item{
    margin-top: 20px; 
    font-size: 1.4rem;
    position: relative;
    display: inline-block;
    margin-bottom: 0;
    margin-left: 2rem;
    float: right;
}
    
.navbar-list{
     
    list-style: none;
    margin-bottom: 0;
    margin-right: 3rem;
    display: inline-block;
}

.post-header{
    text-align: center;
    color: #3d3d3d;
}

.post-meta{
    margin-bottom: 1.0rem;
}

.post-content{
    text-align: center;
}

.post.container{
    position: relative;
    width: 100%;
    max-width:  960px;
    margin:0 auto;
    padding: 0 auto;
}

div{
    display:block;
}

article{
    display: block;
}

.six.columns{
    width: 100%;
    float: center;

}

#title{
    color: lime green ;
    top: 85px;
    position: absolute;
    left: 100px;
    font-weight: 900;
    font-family: Helvetica; 
    font-size: 42px;
}

.index-navbar-items >a{
    font-size: 1.4em;
    color: orange ;
    font-family: Helvetica ; 
}

.divider{
    margin: 50px 0px 50px 0;
    height: 5px;
    width: 450px;
    background: black;
}

div.rocket {
    position: absolute;
    bottom: 10px;
    left: 20px; 
    -webkit-transition: 3s ease-in;
    -moz-transition: 3s ease-in;
    -o-transition: 3s ease-in;
    transition: 3s ease-in;
}

div.rocket div {
    width: 500px;
    height: 500px;
    background: url(background.svg) no-repeat;
    -webkit-transition: 2s ease-in-out;
    -moz-transition: 2s ease-in-out;
    -o-transition: 2s ease-in-out;
    transition: 2s ease-in-out;
}

body:hover div.rocket {
    -webkit-transform: translate(540px,-200px);
    -moz-transform: translate(540px,-200px);
    -o-transform: translate(540px,-200px);
    -ms-transform: translate(540px,-200px);
    transform: translate(540px,-200px);
}

  body:hover div.rocket div {
    -webkit-transform: rotate(70deg);
    -moz-transform: rotate(70deg);
    -o-transform: rotate(70deg);
    -ms-transform: rotate(70deg);
    transform: rotate(70deg);
}

.pagination{
    width: 100%;
    clear: both;
    display: table;
    line-height: 1.6;
}

.next{
    float: right;
}

.padder{
    font-size: 0;
    padding: 24px;
    width: 100%; 
}
.work{
    width: 33.33%;
    display: inline-block;
    position: relative;
    text-decoration: none;
    color: #111;
    padding: 25px;
   
}
.work-img{
   width: 100%;
   height: 400px; 
   margin: 0;
}
.work-cover{
    padding: 80px; 
    position: absolute;
    z-index: 1;
    top: 35px;
    left: 35px;
    bottom: 35px;
    right: 35px;
    background: rgba(255,255,255,.9);
    opacity: 0;
  -webkit-transition: opacity 0.7s ease;
  -moz-transition: opacity 0.7s ease;
  -ms-transition: opacity 0.7s ease;
  -o-transition: opacity 0.7s ease;
  transition: opacity 0.7s ease;
}
a:hover{
    cursor: pointer;
}
.work:hover .work-cover {
  opacity: 1;
}
li {
    margin: 0;
    padding: 18px 0;
    padding-bottom: 17px;
}

.biz-listing-large {
    margin: 0 -15px;
    height: 100px;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
.main-attributes {
    float: left;
    padding: 0 15px;
    min-height: 1px;
    box-sizing: border-box;
    width: 62.5%;
}
.secondary-attributes {
    float: left;
    padding: 0 15px;
    min-height: 1px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 37.5%;
    margin-top: 3px;
}

.snippet-block {
    position: relative;
    margin-top: 12px;
    margin-bottom: 0;
    font-size: 13px;
    line-height: 1.38462em;
}
.media-block {
    position: relative;
    display: flex;
}
.indexed-biz-archive .main-attributes {
    float: left;
    padding: 0 15px;
    min-height: 1px;
    box-sizing: border-box;
    width: 62.5%;
}
.media-block--12>.media-avatar {
    border-right: 12px solid transparent;
    border-left: none;
}
a {
    color: #3b65a7;
    text-decoration: none;
}
.media-story {
    -webkit-box-flex: 1;
    flex: 1;
    min-width: 0;
    min-height: 0;
}
.indexed-biz-archive .secondary-attributes {
    float: left;
    padding: 0 15px;
    min-height: 1px;
    box-sizing: border-box;
    width: 37.5%;
    margin-top: 3px;
}
.media-block>.media-avatar {
    border-right: 6px solid transparent;
    border-left: none;
}
.snippet-block .snippet {
    margin-bottom: 0;
}
div {
    display: block;
}