body {
    color: white;
    background-color: white;
    font-family: "Trebuchet MS", Verdana, sans-serif;
}
.rocketship{
    height: 90%;
    width: 100%;
    position: absolute;
    background-position:  750px;
    background-image:  url(background.svg);
    background-repeat: no-repeat;    
}
.space{
    height: 100%;
    width: 100%;
    position: absolute;
    background-image: url(//space.jpg);
    background-position: center center;
    background-size: cover;
    text-align: center;
}
h1{
    color: white;
    font-size: 100px;}
h2{
    color: white;
    font-size: 500px;
    font-family: "Verdana";}
.nav{
    
    display: block;
    text-align: right;}

.navbar-item{
    margin-top: 20px; 
    font-size: 1.4rem;
    position: relative;
    display: inline-block;
    margin-bottom: 0;
    margin-left: 2rem;
    float: right;}
    
.navbar-list{
     
    list-style: none;
    margin-bottom: 0;
    margin-right: 3rem;
    display: inline-block;}

.post-header{
    text-align: center;
    color: #3d3d3d;}

.post-meta{
    margin-bottom: 1.0rem;}

.post-content{
    text-align: center;}

.post.container{
    position: relative;
    width: 100%;
    max-width:  960px;
    margin:0 auto;
    padding: 0 auto;}

body{
    font-size: 1.4em;
    line-height: 1.6;
    font-weight: 400;
    font-family: "HelveticaNeue";
    color: blue;
    height: 100%;
    margin: 0;}

div{
    display:block;}


article{
    display: block;
}

.six.columns{
    width: 100%;
    float: center;
}

#title{
    color: lime green ;
    top: 85px;
    position: absolute;
    left: 100px;
    font-weight: 900;
    font-family: Helvetica; 
    font-size: 42px;
}
.index-navbar-items >a{
    font-size: 1.4em;
    color: orange ;
    font-family: Helvetica ; 
}
.divider{
    margin: 50px 0px 50px 0;
    height: 5px;
    width: 450px;
    background: black;
}
