h1{
	text-align: center;
}

p{
	text-align: center;
}

form{
	width: 100% !important;
	text-align: center !important;
}
.chris{
	width: 300px !important;
	height: 50px !important;
}
.jumbotron{
	height: 500px !important;
}
@keyframes flash {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
#png1{
	position: absolute !important ;
	left: 100px;
	bottom: 500px;
    animation: flash .3s;
    animation-iteration-count: infinite;
}
#png2{
	position: absolute !important;
	width: 400px !important;
	height: 300px !important;
	left: 403px;
	bottom: 39px;

    animation: flash .5s;
    animation-iteration-count: infinite;
}
@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to { 
    -webkit-transform: rotate(360deg);
  }
}

#png3
{
	position: absolute !important;
	left: 1200px;
	bottom: 100px;
    -webkit-animation-name:             rotate; 
    -webkit-animation-duration:         0.5s; 
    -webkit-animation-iteration-count:  infinite;
    -webkit-animation-timing-function: linear;
}
#blink {
text-align:center;
background:#000000;
color:#F00;
margin: 0;
padding:20px;
margin right: auto;
margin left: auto;
height: 100vh;

}

#blink span {
font-size:17em;
font-weight:bold;
display:block;
}
